*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    height: 100dvh;
    width: 100dvw;
}

body{
    height: 100%;
    width: 100%;
    background: #0f0f0f;
    color: white;
}

header{
    display: flex;
    padding: 30px;
    background: green;
    font-family: sans-serif;
    justify-content: center;
}

#mensaje{
    margin: 0 15px 0 0;
}

body iframe{
    display: flex;
    margin: 50px auto;
}

#formComentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#formComentarios input{
    margin: 5px;
    padding: 10px;
    width: 300px;
}

#formComentarios input:focus{
    outline: none;
    border: #2ddb1d 2px solid;
}

#formComentarios button{
    margin: 10px 0 30px 0;
    border-radius: 10px;
    width: 300px;
    padding: 20px;
    border: none;
    background: #4377e0;
    transition: 0.3s ease-in-out;
}
#formComentarios button:hover{
    cursor: pointer;
    transform: scale(1.03);
}


#listaComentarios{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#listaComentarios .comentario{
    font-family: sans-serif;
    gap: 5px;
    display: flex;
    align-items: center;
}   

footer{
    background-color: rgb(41, 41, 41);
    padding: 15px;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    font-family: sans-serif;
}

@media (max-width: 576px){
    #crabDance{
        width:300px;
        height:200px;
    }

    #Fernan{
        width:300px;
        height:200px;
    }

    header{
        font-size: small;
        flex-direction: column;
    }

}
